<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" path="/" loginUrl="Login.aspx" protection="Validation" timeout="120"/>
    </authentication>
    <machineKey validationKey="C2F7606DB1B31F6BC254CBE32F939DC3020907F764BF1E90E259F7CC0261E062E52BE2D4EF5CC422E86D12DE2A2B1868E65D5A95461EC81B49094E84B08F53D8" decryptionKey="06D66396CC6D750F0AE0B0E982E4B579EE3E68FC7017D071" validation="SHA1"/>
    <sessionState mode="InProc" timeout="240" cookieless="UseCookies"/>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  <pages>
    <controls>
       <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
    </controls>
  </pages>
  </system.web>
  <connectionStrings>
    <add name="ConStr" connectionString="Server=103.21.58.6;uid=aedis_dms;database=dms_db;Allow Zero Datetime=True;Password=P@ssw0rd@1234;port=3306"/>
  </connectionStrings>
  <appSettings>
    <add key="HashKey" value="aXb2uy4z"/>
    <add key="FileHashKey" value="MAKV2SPBNI99212"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>