<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="1000" name="__Auth" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10240"/><!--Max 10MB-->
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="HashKey" value="aXb2uy4z"/>
    <add key="FileHashKey" value="MAKV2SPBNI99212"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="ConnectionString" value="U2VydmVyPWxvY2FsaG9zdDt1aWQ9cm9vdDtkYXRhYmFzZT1kbXNfZGI7QWxsb3cgWmVybyBEYXRldGltZT1UcnVlOw==" />-->
    <!--<add key="ConnectionString" value="Server=localhost;uid=root;database=aegisdms_db;Allow Zero Datetime=True;Password=P@ssw0rd" />-->
    <add key="ConnectionString" value="Server=45.113.138.32;uid=aegis_dms_db;database=aegissol_dms_db;Allow Zero Datetime=True;Password=P@ssw0rd" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
